<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Agendar Cita</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Agendar Cita</h1>

        <a href="{{ url_for('main.home') }}" class="btn-volver">
            <span class="icon">&#8592;</span> Volver al inicio
        </a>



        <form method="POST">
            {{ form.hidden_tag() }}

            <label for="tipo_asunto">Tipo de asunto</label>
            {{ form.tipo_asunto() }}
            {% for error in form.tipo_asunto.errors %}
            <div class="flash error">{{ error }}</div>
            {% endfor %}

            <label for="abogado">Selecciona un abogado</label>
            {{ form.abogado() }}
            {% for error in form.abogado.errors %}
            <div class="flash error">{{ error }}</div>
            {% endfor %}

            <label for="fecha">Fecha de la cita</label>
            {{ form.fecha() }}
            {% for error in form.fecha.errors %}
            <div class="flash error">{{ error }}</div>
            {% endfor %}

            <label for="asunto">Motivo de la cita</label>
            {{ form.asunto(rows=4) }}
            {% for error in form.asunto.errors %}
            <div class="flash error">{{ error }}</div>
            {% endfor %}

            {{ form.submit() }}
        </form>
    </div>
</body>

</html>